// HIGHLIGHTS CARROUSEL OF FIVE MOVIES MAX LIKE HBO MAX NETFLIX AND SO
.highlights-carrousel {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    overflow-x: auto;
    height: 600px;
}

.highlight-image-container{
    background-color: red;
    width: 100%;
    height: 520px;
    border-radius: .75em;
    overflow: hidden;
    position: relative;
}

.highlight{
    flex: 0 0 auto;
    width: 100%;
    box-sizing: border-box;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlight-details {
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
    color: white;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1em;
    align-items: center;
    padding: 0 1em;
    box-sizing: border-box;
    div{
        display: flex;
        gap: 1em;
    }
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

