
<div class="highlights-carrousel">
    @for (movie of movies; track movie.id) {
        <div class="highlight">
            <div class="highlight-image-container">
                <img [src]="movie.imageUrl" alt="{{movie.title}}" class="highlight-image">
                <div class="highlight-details">
                    <p>Rating: {{movie.rating}}/10</p>
                    <div>
                        <button>
                            <a [href]="movie.imdbUrl" target="_blank">IMDB</a>
                        </button>
                        <button>
                            <a [href]="movie.trailerUrl" target="_blank">Watch Trailer</a>
                        </button>
                    </div>
                </div>
            </div>
            <div >
                <h4>{{movie.title}}</h4>
            </div>
        </div>
    }
</div>

