.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em
}

.movies-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.loading-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}