<div class="relative">
    <header>
        <div>
            <span class="logo" routerLink="/home">Test TKE</span>
            <span routerLink="/home" routerLinkActive="activated"> Home</span>
        </div>

        <div>
            <button mat-icon-button (click)="toggleFullscreen()" [matTooltip]="is_fullscreen ? 'Exit Fullscreen' : 'Enter Fullscreen'">
                <mat-icon>{{is_fullscreen? 'fullscreen_exit' : 'fullscreen'}}</mat-icon>
            </button>
        </div>
    </header>
</div>


<div class="search-banner">
  <div class="overlay">
    <h2>Search for Movies</h2>
    <div class="search" (keyup.enter)="searchMovie()">
      <input
        type="text"
        [(ngModel)]="search"
        placeholder="Ex: Matrix, Truman Show..."
      />
      <button mat-icon-button (click)="searchMovie()" aria-label="Pesquisar">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
</div>
