.container{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.main-content{
    width: 100%;
    overflow-x: hidden;
    flex: 1;
    box-sizing: border-box;
}

.spacing{
    padding: 1em;
}