/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

html, body { 
    height: 100%; 
    background: #0a0a0a
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html{
    color-scheme: dark;
    @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      tertiary: mat.$orange-palette,
      theme-type: dark,
    ),
    typography: Roboto,
    density: 0,
  ));
}
