.movie-item{
    overflow: hidden;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    img{
        border-radius: .75em ;
        width: 200px;
        height: 300px;
        object-fit: cover;
    }
    p{
        text-align: center;
    }
}

.movies-list-carrousel{
    display: flex;
    overflow-x: scroll;
    gap: 1em;

}