.movie-item{
    overflow: hidden;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    img{
        border-radius: .75em ;
        width: 200px;
        height: 300px;
        object-fit: cover;
    }
    p{
        text-align: center;
    }
}

.movies-list-carrousel{
    display: flex;
    overflow-x: scroll;
    gap: 1em;
}

    swiper-container {
      width: 100%;
      height: 100%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }